<!DOCTYPE html>
<html  xmlns:th="<http://www.thymeleaf.org>" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" th:href="@{css/styles_estoque.css}">
    <script th:src="@{/js/estoque.js}"></script>
</head>

<body>

<h1>Cadastrar Produto</h1>

<form id="productForm">

    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" id="descricao" name="descricao" placeholder="Descrição" required>
    </div>

    <div class="form-group">
        <label for="preco">Preço</label>
        <input type="number" step="0.01" id="preco" name="preco" placeholder="Preço" required>
    </div>

    <div class="form-group">
        <label for="tamanho">Tamanho</label>
        <input type="text" id="tamanho" name="tamanho" placeholder="Tamanho" required>
    </div>

    <div class="form-group">
        <label for="qtdeEstoque">Quantidade</label>
        <input type="number" id="qtdeEstoque" name="qtdeEstoque" placeholder="Quantidade" required>
    </div>

    <button type="button" onclick="submitForm()">Salvar Produto</button>
</form>

<div class="borderDivisor">

    <h2>Lista de Produtos</h2>
</div>

<div class="table-container">
<table>
    <thead>
    <tr>
        <th>AÇÕES</th>
        <th>ID</th>
        <th>DESCRIÇÃO</th>
        <th>PREÇO</th>
        <th>TAMANHO</th>
        <th>QTDE</th>
        <th>PEDIR</th>
    </tr>
    </thead>

    <tbody id="productTableBody">
    <!-- Os dados serão preenchidos aqui pelo JavaScript -->
    </tbody>
</table>
</div>

<h3> Pedido em andamento</h3>

<p> <strong> Selecione cliente do pedido </strong> </p>

<button class="btnCarregarClientes" onclick="btnCarregarClientes()">
    <img th:src="@{images/image-set-select.jpg}" alt="image-set-select">
</button>

<div class="table-container-clientes">
    <table>
        <!-- th -->
        <tbody id="clientesTableBody">
        <!-- Os dados serão preenchidos aqui pelo JavaScript -->
        </tbody>
    </table>
</div>

<form class="form-pedidos" id="pedidoForm">

    <div class="form-group-pedido-1">
        <label for="idCliente">ID CLIENTE</label>
        <input type="text" id="idClienteInput" name="idCliente" placeholder="id Cliente" required>
    </div>

    <div class="form-group-pedido">
        <label for="idProduto">ID PRODUTO</label>
        <input type="text" id="idProduto" name="idProduto" placeholder="id Produto" required>
    </div>

    <div class="form-group-pedido">
        <label for="qtdePedida">QTDE PEDIDA</label>
        <input type="number" id="qtdePedida" name="qtdePedida" placeholder="Quantidade pedida" required>
    </div>

    <div class="form-group-pedido">
        <label for="precoPdtPedido">PREÇO</label>
        <input type="number" id="precoPdtPedido" name="precoPdtPedido" placeholder="Preço" required>
    </div>

    <div class="form-group-pedido">
        <label for="valorTotal">VALOR TOTAL</label>
        <input type="number" id="valorTotal" name="valorTotal" placeholder="valorTotal" required>
    </div>
    <button type="button" onclick="submitFormPedido()">Salvar Pedido</button>
</form>

<a href="http://localhost:8080/pedidos" target="_self">
    <button class="btnVisualizarPedidos">Ver todos pedidos</button>
</a>

</body>
</html>

