<!DOCTYPE html>
<html  xmlns:th="<http://www.thymeleaf.org>" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" th:href="@{css/styles_pedidos.css}">
    <script th:src="@{/js/pedidos.js}"></script>
</head>
<body>

<h2>Pedidos Detalhados</h2>

<div class="table-container-pedidos">
    <table>
        <thead>
        <tr>
            <th> AÇÕES </th>
            <th>ID PEDIDO</th>
            <th>DATA PEDIDO</th>
            <th>NOME CLIENTE</th>
            <th>PRODUTO</th>
            <th>QTDE </th>
            <th>PREÇO</th>
            <th>VL TOTAL</th>

        </tr>
        </thead>

        <tbody id="pedidosTableBody">
        <!-- Os dados serão preenchidos aqui pelo JavaScript -->
        </tbody>
    </table>
</div>

</body>
</html>



